/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    color: #ddd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
}

body{
    height: 580px;
    margin: 0;
    padding: 0;
}